<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../library/jquery-3.3.1.min.js" type="text/javascript"></script>
    <title>LRS DataAnalyst</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>

<body>
    <header class="navbar">
        <div class="navbar-left">
            <a href="home.html" class="logo-link">
                <img src="../favicon.ico" alt="Logo LRS Data Analyst" class="navbar-logo">
                <H1>LRS Data Analyst</H1>
            </a>
        </div>
        <div class="navbar-right">
            <button class="history-btn">Historique des requtes</button>
            <button class="logout-btn">Se déconnecter</button>
        </div>
    </header>

    <main class="container">
        <aside class="sidebar">
            <div class="date-filter">
                <h3>Filtres</h3>
                <label for="start-date">Du :</label>
                <input type="date" id="start-date" value="2021-01-01">
                <label for="end-date">Au :</label>
                <input type="date" id="end-date">
            </div>


            <div class="generic-filters">
                <div class="filter-actions">
                    <button id="select-all">Sélectionner tous les filtres</button>
                    <button id="deselect-all">Désélectionner tous les filtres</button>
                </div>

                <div class="container-dropdown">
                    <div class="select-btn">
                        <span class="btn-text" data-default="Verbes">Verbes</span>
                        <span class="arrow-dwn">
                            <i class="fa-solid fa-chevron-down"></i>
                        </span>
                    </div>

                    <ul class="list-items">
                        <li class="item" data-name="completed">
                            <span class="checkbox">
                                <i class="fa-solid fa-check check-icon"></i>
                            </span>
                            <span class="item-text">Completed</span>
                        </li>

                        <li class="item" data-name="received">
                            <span class="checkbox">
                                <i class="fa-solid fa-check check-icon"></i>
                            </span>
                            <span class="item-text">Received</span>
                        </li>

                        <li class="item" data-name="accessed">
                            <span class="checkbox">
                                <i class="fa-solid fa-check check-icon"></i>
                            </span>
                            <span class="item-text">Accessed</span>
                        </li>

                        <li class="item" data-name="acknowledge">
                            <span class="checkbox">
                                <i class="fa-solid fa-check check-icon"></i>
                            </span>
                            <span class="item-text">Acknowledge</span>
                        </li>

                        <li class="item" data-name="answered">
                            <span class="checkbox">
                                <i class="fa-solid fa-check check-icon"></i>
                            </span>
                            <span class="item-text">Answered</span>
                        </li>

                        <li class="item" data-name="enrolled">
                            <span class="checkbox">
                                <i class="fa-solid fa-check check-icon"></i>
                            </span>
                            <span class="item-text">Enrolled</span>
                        </li>

                        <li class="item" data-name="login">
                            <span class="checkbox">
                                <i class="fa-solid fa-check check-icon"></i>
                            </span>
                            <span class="item-text">Login</span>
                        </li>

                        <li class="item" data-name="logout">
                            <span class="checkbox">
                                <i class="fa-solid fa-check check-icon"></i>
                            </span>
                            <span class="item-text">Logout</span>
                        </li>

                        <li class="item" data-name="disconnect">
                            <span class="checkbox">
                                <i class="fa-solid fa-check check-icon"></i>
                            </span>
                            <span class="item-text">Disconnect</span>
                        </li>

                        <li class="item" data-name="gave">
                            <span class="checkbox">
                                <i class="fa-solid fa-check check-icon"></i>
                            </span>
                            <span class="item-text">Gave</span>
                        </li>

                        <li class="item" data-name="updated">
                            <span class="checkbox">
                                <i class="fa-solid fa-check check-icon"></i>
                            </span>
                            <span class="item-text">Updated</span>
                        </li>

                    </ul>
                </div>

                <div class="container-dropdown">
                    <div class="select-btn">
                        <span class="btn-text" data-default="Activités">Activités</span>
                        <span class="arrow-dwn">
                            <i class="fa-solid fa-chevron-down"></i>
                        </span>
                    </div>

                    <ul class="list-items">
                        <li class="item" data-name="ULLAMobileApp">
                            <span class="checkbox">
                                <i class="fa-solid fa-check check-icon"></i>
                            </span>
                            <span class="item-text">ULLAMobileApp</span>
                        </li>

                        <li class="item" data-name="ULLAMobileAppFeed">
                            <span class="checkbox">
                                <i class="fa-solid fa-check check-icon"></i>
                            </span>
                            <span class="item-text">ULLAMobileAppFeed</span>
                        </li>

                        <li class="item" data-name="Moods">
                            <span class="checkbox">
                                <i class="fa-solid fa-check check-icon"></i>
                            </span>
                            <span class="item-text">Moods</span>
                        </li>

                        <!-- <li class="item" data-name="GenericObject">
                            <span class="checkbox">
                                <i class="fa-solid fa-check check-icon"></i>
                            </span>
                            <span class="item-text">GenericObject</span>
                        </li> -->

                        <!-- <li class="item" data-name="GenericObjectWithResult">
                            <span class="checkbox">
                                <i class="fa-solid fa-check check-icon"></i>
                            </span>
                            <span class="item-text">GenericObjectWithResult</span>
                        </li> -->

                        <li class="item" data-name="Assessment">
                            <span class="checkbox">
                                <i class="fa-solid fa-check check-icon"></i>
                            </span>
                            <span class="item-text">Assessment</span>
                        </li>

                        <li class="item" data-name="AssessmentPart">
                            <span class="checkbox">
                                <i class="fa-solid fa-check check-icon"></i>
                            </span>
                            <span class="item-text">AssessmentPart</span>
                        </li>

                        <li class="item" data-name="OpenAnswerQuestion">
                            <span class="checkbox">
                                <i class="fa-solid fa-check check-icon"></i>
                            </span>
                            <span class="item-text">OpenAnswerQuestion</span>
                        </li>

                        <li class="item" data-name="OpenAnswerQuestionCriteria">
                            <span class="checkbox">
                                <i class="fa-solid fa-check check-icon"></i>
                            </span>
                            <span class="item-text">OpenAnswerQuestionCriteria</span>
                        </li>

                        <li class="item" data-name="Survey">
                            <span class="checkbox">
                                <i class="fa-solid fa-check check-icon"></i>
                            </span>
                            <span class="item-text">Survey</span>
                        </li>

                        <li class="item" data-name="SurveyQuestion">
                            <span class="checkbox">
                                <i class="fa-solid fa-check check-icon"></i>
                            </span>
                            <span class="item-text">SurveyQuestion</span>
                        </li>

                        <li class="item" data-name="Feedback">
                            <span class="checkbox">
                                <i class="fa-solid fa-check check-icon"></i>
                            </span>
                            <span class="item-text">Feedback</span>
                        </li>

                        <li class="item" data-name="FeedbackPart">
                            <span class="checkbox">
                                <i class="fa-solid fa-check check-icon"></i>
                            </span>
                            <span class="item-text">FeedbackPart</span>
                        </li>
                        
                        <li class="item" data-name="FeedbackMessage">
                            <span class="checkbox">
                                <i class="fa-solid fa-check check-icon"></i>
                            </span>
                            <span class="item-text">FeedbackMessage</span>
                        </li>

                        <li class="item" data-name="Message">
                            <span class="checkbox">
                                <i class="fa-solid fa-check check-icon"></i>
                            </span>
                            <span class="item-text">Message</span>
                        </li>
                    </ul>
                </div>
            </div>
        </aside>

        <section class="content">
            <div class="table-container">
                <table id="data-table">
                    <thead>
                        <tr id="table-header">
                            <!-- Columns will be added here -->
                        </tr>
                    </thead>
                    <tbody id="table-body">
                        <!-- Rows will be added here -->
                    </tbody>
                </table>
            </div>
            <div id="descriptions-container" class="descriptions-box">
                <h3 style="margin-top: 0;">Descriptions des filtres sélectionnés</h3>
                <ul id="descriptions-list" style="margin-bottom: 0;"></ul>
            </div>
            <div class="actions-bottom">
                <button id="download-csv" disabled>Télécharger .csv</button>
            </div>
            <!-- <div class="actions-bottom">
                <button id="test-btn"><a href="test.html">Test route</a></button>
            </div> -->
        </section>
    </main>

    <script src="../scripts/home_script.js"></script>
</body>

</html>