<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../library/jquery-3.3.1.min.js" type="text/javascript"></script>
    <title>LRS DataAnalyst</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
</head>

<body>
    <header class="navbar">
        <div class="navbar-left">
            <h1>LRS Data Analyst</h1>
        </div>
        <div class="navbar-right">
            <button class="history-btn">Historique des requtes</button>
            <button class="login-btn">Se déconnecter</button>
        </div>
    </header>

    <main class="container">
        <aside class="sidebar">
            <div class="date-filter">
                <h3>Filtres</h3>
                <label for="start-date">Du :</label>
                <input type="date" id="start-date" value="2021-01-01">
                <label for="end-date">Au :</label>
                <input type="date" id="end-date">
            </div>


            <div class="generic-filters">
                <div class="filter-actions">
                    <button id="select-all">Sélectionner tous les filtres</button>
                    <button id="deselect-all">Désélectionner tous les filtres</button>
                </div>

                <div class="container-dropdown">
                    <div class="select-btn">
                        <span class="btn-text" data-default="Verbes">Verbes</span>
                        <span class="arrow-dwn">
                            <i class="fa-solid fa-chevron-down"></i>
                        </span>
                    </div>

                    <ul class="list-items">
                        <li class="item">
                            <span class="checkbox">
                                <i class="fa-solid fa-check check-icon"></i>
                            </span>
                            <span class="item-text">Manger</span>
                        </li>

                        <li class="item">
                            <span class="checkbox">
                                <i class="fa-solid fa-check check-icon"></i>
                            </span>
                            <span class="item-text">Boire</span>
                        </li>

                        <li class="item">
                            <span class="checkbox">
                                <i class="fa-solid fa-check check-icon"></i>
                            </span>
                            <span class="item-text">Dormir</span>
                        </li>

                        <li class="item">
                            <span class="checkbox">
                                <i class="fa-solid fa-check check-icon"></i>
                            </span>
                            <span class="item-text">Marcher</span>
                        </li>

                    </ul>
                </div>

                 <div class="container-dropdown">
                    <div class="select-btn">
                        <span class="btn-text" data-default="Objets">Objets</span>
                        <span class="arrow-dwn">
                            <i class="fa-solid fa-chevron-down"></i>
                        </span>
                    </div>

                    <ul class="list-items">
                        <li class="item">
                            <span class="checkbox">
                                <i class="fa-solid fa-check check-icon"></i>
                            </span>
                            <span class="item-text">Activité</span>
                        </li>

                        <li class="item">
                            <span class="checkbox">
                                <i class="fa-solid fa-check check-icon"></i>
                            </span>
                            <span class="item-text">Survey</span>
                        </li>

                        <li class="item">
                            <span class="checkbox">
                                <i class="fa-solid fa-check check-icon"></i>
                            </span>
                            <span class="item-text">Message</span>
                        </li>

                        <li class="item">
                            <span class="checkbox">
                                <i class="fa-solid fa-check check-icon"></i>
                            </span>
                            <span class="item-text">Connexion</span>
                        </li>

                    </ul>
                </div>
            </div>
        </aside>

        <section class="content">
            <div class="table-container">
                <table id="data-table">
                    <thead>
                        <tr id="table-header">
                            <!-- Columns will be added here -->
                        </tr>
                    </thead>
                    <tbody id="table-body">
                        <!-- Rows will be added here -->
                    </tbody>
                </table>
            </div>
            <div class="actions-bottom">
                <button id="download-csv" disabled>Télécharger .csv</button>
            </div>
            <div class="actions-bottom">
                <button id="test-btn"><a href="test.html">Test route</a></button>
            </div>
        </section>
    </main>

    <script src="../scripts/home_script.js"></script>
</body>

</html>