<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../library/jquery-3.3.1.min.js" type="text/javascript"></script>
    <title>LRS DataAnalyst</title>
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <header class="navbar">
        <div class="navbar-left">
            <h1>LRS DataAnalyst</h1>
        </div>
        <div class="navbar-right">
            <button class="login-btn">Se connecter</button>
        </div>
    </header>

    <p class="test-message"></p>

    <script src="../test.js"></script>
</body>

</html>